body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

img {
    vertical-align: middle;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: .25em;
}

.button:hover {
    color: #f39c12;
}

.in {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;

}

input {
    position: relative;
    display: block;
    width: 25em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;

}
